body{
  margin: 0;
  padding: 0;
  background-color: rgb(184, 181, 181);
  
}

.header{
  position: fixed;
  padding: 0;
  width: 100%;
  z-index: 1;
}

.main-container{
  padding: 5px;
  padding-top: 135px;
  padding-left: 30px;
  padding-right:20px;
}


.nav-div:hover{
  transform: scale(1.4);
  transition: 0.30s;
}

.card img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card:hover{
  transform: scale(1.1);
  transition: 0.30s;
}

.product-atag{
  text-decoration: none;
  color: black;  
}

.btn-cart {
  padding-left:110px; 
  padding-right:110px; 
  margin-left:20px
}

.btn-cart:hover,.btn-view:hover {
  transform: scale(1.1);
  transition: 0.30s;
}

.navlist:hover{
  background-color: rgb(89, 89, 239);
}

/* Product View */

.main-container-product-view{
  margin: 150px;
  background-color: white;
  padding: 10px;
}

.product-view-img{
    text-align: center;
    display: inline-block;
    max-height: 500px;
}

.product-img{
  display: block;
  width: 100%;
  height: 400px;
  object-fit: contain;

}

.description-preview{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow:hidden ;
}

/* Cart */

.cart-item-container{
  margin: 70px;
  margin-top: 150px
}

.cart-product-img-container{
  text-align: center;
  display: inline-block;
  max-height: 300px;
}

.cart-product-img{
  width: 200px;
  height: 200px;
  object-fit: contain;

}

.btn-group {
  display: none;
}


/* Signup */

.img-holder {
  height: auto;
  width: auto;
  text-align: center;
}

.img-holder img {
  height: auto;
  width: 150px;
  object-fit: contain;
  border-radius: 50%;
}

.password-container, .img-holder {
  position: relative;
}

.password-icon{
  position: absolute;
  left: 350px;
  top: 5px;
}
.delete-icon{
  position: absolute;
  top: -10px;
  right: 305px;
  display: none;

}